body{
    width: 100vw;
    margin: 0px;
}

#matemagica{
    width: 80rem;
    height: 80vh;
    border: solid black 2px;
    margin-inline: calc((100vw - 80rem)/2);
}

#content{
    padding-block: 2rem;
}